
@{
    ViewData["Title"] = "Commands";
}

<h4 style="margin-bottom: 2%">List of bot's commands</h4>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-active table-bordered">
            <thead>
                <tr>
                    <th scope="col">Komenda</th>
                    <th scope="col">Opis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>!pinned</td>
                    <td>Pokazuje wszystkie przypięte wiadomości na tym kanale.</td>
                </tr>
                <tr>
                    <td>!raidinfo</td>
                    <td>Wyświetla ustalony przed administratora komunikat dotyczący raidów.</td>
                </tr>
                <tr>
                    <td>!regulamin</td>
                    <td>Wyświetla regulamin gildii.</td>
                </tr>
                <tr>
                    <td>!progress</td>
                    <td>Wyświetla progress gildii z trzech ostatich tierów.</td>
                </tr>
                <tr>
                    <td>!recent</td>
                    <td>Wyświetla trzy ostatnio zrobione mplusy. Przykład: !recent nazwa_postaci realm region</td>
                </tr>
                <tr>
                    <td>!best</td>
                    <td>Wyświetla najlepsze zriobione klucze (od 1-5). Przykład: !best ToxicDzordzo kazzak eu 4</td>
                </tr>
                <tr>
                    <td>!charinfo</td>
                    <td>Wyświetla informacje o postaci (np: ilvl, mplus score, link do profilu na raider.io etc.) Przykład: !charinfo nazwa_postaci realm region.</td>
                </tr>
                <tr>
                    <td>!purge</td>
                    <td>Usuwa podaną liczbę wiadomości z discorda(max. 50) lub wiadomości podanego użytkownika. Przykład: !purge liczba_wiadomości lub !purge username#0000 (działa tagowanie z discorda @@Użytkownik).</td>
                </tr>
                <tr>
                    <td>!set_twitch</td>
                    <td>Ustawia kanał na którym mają pojawiać się powiadomienia o streamach.</td>
                </tr>
                <tr>
                    <td>!charinfo</td>
                    <td>Wyświetla informacje o postaci (np: ilvl, mplus score, link do profilu na raider.io etc.) Przykład: !charinfo nazwa_postaci realm region.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>